* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
body.dark_mode {
  background-color: var(--brown);
  transition: 0.5s;
}
body.dark_mode header {
  background-color: var(--brown);
  color: var(--green);
}

:root {
  --green: #6B8E23;
  --beige: #F5F5DC;
  --bg: #FFFFF0;
  --gold: #DAA520;
  --brown: #8B4513;
  --brown2: #492207;
  --neutral-gray: #D3D3D3;
  --text-primary: #333333;
  --hover: #B8860B;
  --button-text: #FFFFFF;
}
.container {
  padding: 0 15px;
  margin: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
header {
  position: sticky;
  top: 0;
  background-color: var(--beige);
  border-bottom: 1px solid var(--text-primary);
  padding: 12px 0;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .container img {
  width: 40px;
  cursor: pointer;
}
header .container .logo a{
  font-size: 45px;
  font-weight: bold;
  color: var(--green);
}
header .container nav {
  position: relative;
}
header .container nav a {
  font-size: 23px;
  font-weight: bold;
  color: var(--text-secondary);
}
@media (max-width:991px) {
  header .container nav ul {
    display: none;
  }
  header .container nav ul.drop_down {
    width: 200px;
    display: block;
    position: absolute;
    top: 61.5px;
    left: -15px;
    border: 1px solid var(--brown);
    background-color: var(--gold);
  }
  header .container nav ul li {
    padding: 10px;
    border-bottom: 1px solid;
  }
}
@media (min-width:992px) {
  header .container nav {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  header .container nav img:last-child{
    display: none;
  }
  header .container nav ul {
    display: flex;
    gap: 25px;
  }
}
.container .azkar_list {
  background-color: var(--bg);
  border-radius: 10px;
  padding: 10px 35px;
}
body.dark_mode .container .azkar_list{
  background-color: var(--brown2);
}
h2 {
  text-align: center;
  color: var(--gold);
  font-size: 35px;
  padding: 20px 0;
}
section {
  margin-top: 70px;
}
section .container ol li{
  color: var(--brown);
  padding: 20px;
}
section .container ol li p {
  border-radius: 10px;
  font-size: 26px;
  line-height: 1.6;
  display: flex;
  justify-content: space-between;
  gap: 50px;
  align-items: center;
  background-color: var(--gold);
  padding: 20px;
}
body.dark_mode section .container ol li p ,
body.dark_mode section .container ol li p span {
  background-color: var(--brown);
  color: var(--gold);
}
section .container ol li p span {
  font-size: 18px;
  letter-spacing: 1.5px;
  color: var(--beige);
  cursor: pointer;
  margin: 10px;
}